$color-primary: #f77941;
$color-red: #e73415;
$color-grey-l: #eee;
$color-grey: #979B9E;
$color-white: #fff;
$color-blue: #72a4fe;
$color-default: #007aff;
$color-black: #232529;

$color-link: $color-blue;

$font-size-sm-s:24rpx;
$font-size-sm:28rpx;
$font-size-base:32rpx;
$font-size-lg:36rpx;
$font-size-lg-x:40rpx;
$font-size-lgx:44rpx;
$font-size-lgx-x:48rpx;


